<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout (title = ${postDto.postTitle})}">
<body>
    <div class="container" layout:fragment="content" style="max-width: 600px">

        <div class="py-3 text-center">
            <h3 th:text="${postDto.postTitle}">게시글 제목</h3>
        </div>

        <div class="form-control">
            <br>
            <p th:text="${postDto.postContent}"> 게시글 내용</p>
            <div class="mb-2" th:each="image : ${imageList.imageDtoList}">
                <img class="img-fluid rounded mx-auto d-block img-thumbnail" th:src="|/post/${imageList.postId}/image/${image.getServerName()}|" width="400">
            </div>
        </div>

        <div class="row py-4">
            <a class="col col-auto fw-bolder" th:text="|${postDto.username}| " th:href="@{|/member/${postDto.memberId}|}"></a>
            <p class="col col-auto" th:text="${#temporals.format(postDto.writingDate, 'yy-MM-dd HH:mm:ss')}">
            <p class="col col-auto ms-auto" th:text="|조회수 : ${postDto.viewCount} |">조회수</p>
            <p class="col col-auto" th:text="|추천수 : ${postDto.recommendCount} |">추천수</p>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-auto btn btn-warning float-start" onclick="location.href='postHome.html'"
                        th:onclick="|location.href='@{/postHome}'|" type="button">게시판</button>
            </div>
            <div class="col" th:if="${session?.username != null}">
                <form th:action="@{|/post/${postId}/recommend|}" method="post">
                    <button class="w-auto btn btn-primary float-start" type="submit">추천</button>
                </form>
            </div>
            <div class="col" th:if="${postAuth.authMemberId != null and (postAuth?.authMemberId == session?.loginMember or postAuth?.ADMIN_MEMBER_ID == session?.loginMember)}">
                <button class="w-auto btn btn-success float-end"
                        th:onclick="|location.href='@{|/post/${postId}/update|}'|" type="button">수정</button>
            </div>
            <div class="col" th:if="${postAuth.authMemberId != null and (postAuth?.authMemberId == session?.loginMember or postAuth?.ADMIN_MEMBER_ID == session?.loginMember)}">
                <form th:action="@{|/post/${postId}|}" th:method="delete">
                    <button class="w-auto btn btn-danger float-end" type="submit">삭제</button>
                </form>
            </div>

            <div th:object="${postEditStatus}" class="text-center">
                    <p class="field-error my-3" th:if="|${recErrMessage} != null|" th:text="${recErrMessage}"></p>

                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error my-3" th:each="err : ${#fields.globalErrors()}" th:text="${err}">게시글 수정 오류 메시지</p>
                </div>
            </div>
        </div>

        <hr class="my-3">

        <div class="py-2 text-center">
            <div class="row">
                <p class="text-start col col-12 col-sm" th:text="|댓글 ${pageControl.totalCount} 개|"></p>
                <div class="col col-auto">
                    <form th:action method="get" class="row">
                        <div class="col-auto">
                            <label>
                                <select class="form-select form-select-sm" th:field="${pageDto.pageView}">
                                    <option th:each="view : ${#numbers.sequence(5, 25, 5)}" th:value="${view}" th:text="|${view}개|"></option>
                                </select>
                            </label>
                            <label>
                                <select name="sorting" class="form-select form-select-sm" th:field="${sortingDto.sorting}">
                                    <option th:value="DESC">최신순</option>
                                    <option th:value="ASC">과거순</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn-primary btn btn-sm">변경</button>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <table class="table table-hover text-center" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th class="col-4">작성자</th>
                            <th class="col-3">작성일</th>
                            <th class="col-6">댓글</th>
                            <th class="col-3">댓글관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comment : ${commentList}">
                            <td class="p-1">
                                <a class="d-inline-block text-truncate text-nowrap w-100" th:href="@{|/member/${comment.memberId}|}" th:text="${comment.username}">작성자</a>
                            </td>
                            <td class="p-1">
                                <p th:text="${#temporals.format(comment.writingDate, 'MM-dd HH:mm')}">작성일</p> <!-- 'yy-MM-dd HH:mm' -->
                            </td>
                            <td class="p-1">
                                <p th:if="${commentEditStatus?.flag == false or commentEditStatus?.commentId != comment.commentId}" th:text="${comment.commentContent}">댓글 내용</p>
                                <form th:action="@{|/post/${postId}/${comment.commentId}|}" th:method="put" th:object="${commentEditDto}" th:id="${comment.commentId}">
                                    <input type="hidden" th:field="${sortingDto.sorting}">
                                    <input type="hidden" th:field="${pageDto.page}">
                                    <input type="hidden" th:field="${pageDto.pageView}">
                                    <div th:if="${commentEditStatus.flag == true and commentEditStatus?.commentId == comment.commentId}">
                                        <input type="text" class="form-control col-auto w-auto" th:field="*{commentContent}">
                                        <div class="field-error" th:errors="*{commentContent}">댓글 수정 오류</div>
                                    </div>
                                </form>
                                <form th:id="update + ${comment.commentId}" method="post" th:action="@{|/post/${postId}/${comment.commentId}|}"></form>
                                <form th:id="delete + ${comment.commentId}" th:method="delete" th:action="@{|/post/${postId}/${comment.commentId}|}"></form>
                            </td>
                            <td class="p-1">
                                <div>
                                    <div class="btn-group btn-group-sm" th:if="${commentEditStatus.flag == true and commentEditStatus?.commentId == comment.commentId}">
                                            <button class="btn btn-sm btn-primary float-start" type="submit" th:form="${comment.commentId}">저장</button> <!-- 댓글 수정 저장 -->
                                            <button class="btn btn-sm btn-secondary float-end" type="submit" th:form="cancel + ${comment.commentId}">취소</button>
                                        <form th:action method="get" class="w-auto col-auto" th:id="cancel + ${comment.commentId}">
                                            <input type="hidden" th:field="${sortingDto.sorting}">
                                            <input type="hidden" th:field="${pageDto.page}">
                                            <input type="hidden" th:field="${pageDto.pageView}">
                                        </form>
                                    </div>

                                    <div class="btn-group btn-group-sm" th:if="${(commentEditStatus.flag == false) and ((comment.memberId == commentAuth?.authMemberId or session?.loginMember == commentAuth.ADMIN_MEMBER_ID) and commentAuth.authMemberId != null)}">
                                        <button th:form="update + ${comment.commentId}" class="w-auto col-auto btn btn-success float-start" type="submit">수정</button>
                                        <button th:form="delete + ${comment.commentId}" class="w-auto col-auto btn btn-danger float-end" type="submit">삭제</button>
<!--                                        <button class="w-auto col-auto btn btn-success float-start"-->
<!--                                                type="submit" th:form="${comment.commentId}" th:formaction="@{|/post/${postId}/${comment.commentId}/update|}">수정</button>-->
<!--                                        <button class="w-auto col-auto btn btn-danger float-end" name="_method" value="DELETE"-->
<!--                                                type="submit" th:form="${comment.commentId}" th:formaction="@{|/post/${postId}/${comment.commentId}|}">삭제</button>-->
                                    </div>
                                </div>
                                <div th:object="${commentEditDto}">
                                    <div th:if="${#fields.hasGlobalErrors() and commentEditStatus?.commentId == comment.commentId}">
                                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div th:if="${pageControl.totalCount == 0}"> <!-- th:if="${#lists.size(commentList) == 0}" -->
                    <p class="text-center">작성된 댓글이 없습니다.</p>
                </div>

            </div>
            <div th:if="${pageControl.totalCount > pageControl.pageDto.pageView}">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${pageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.firstPage}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&laquo;" aria-label="first">
                            </form>
                        </li>
                        <li class="page-item" th:if="${pageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.dpStartPage-1}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&lt;" aria-label="prev">
                            </form>
                        </li>
                        <li th:each="page : ${#numbers.sequence({pageControl.dpStartPage}, {pageControl.dpEndPage})}" class="page-item"
                            th:class="${pageControl.pageDto.page} == ${page} ? 'page-item active' : 'page-item'">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${page}">
                                <input type="submit" class="page-link" th:value="${page}" aria-label="page"
                                       th:class="${pageControl.pageDto.page} == ${page} ? 'page-link active' : 'page-link'">
                            </form>
                        </li>
                        <li class="page-item" th:if="${pageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.dpEndPage+1}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&gt;" aria-label="next">
                            </form>
                        </li>
                        <li class="page-item" th:if="${pageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.lastPage}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&raquo;" aria-label="last">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>

            <div>
                <form th:action th:object="${commentAddDto}" method="post">
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="border form-control-plaintext rounded" placeholder="로그인이 필요합니다" th:field="*{commentWriter}" th:errorclass="field-error" readonly>
                            <div class="field-error" th:errors="*{commentWriter}">닉네임 작성 오류</div>
                        </div>
                        <div class="col-6">
                                <input type="text" id="commentContent" class="form-control" placeholder="댓글을 입력해주세요" th:field="*{commentContent}" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{commentContent}">댓글 작성 오류</div>
                        </div>
                        <div class="col-2">
                            <button class="w-auto btn btn-primary" type="submit">작성</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- /container -->
</body>
</html>