<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout (title = ${post.postTitle})}">
<body>
    <div class="container" layout:fragment="content">

        <div class="py-3 text-center">
            <h3 th:text="${post.postTitle}">게시글 제목</h3>
        </div>

        <div class="form-control">
            <br>
            <p th:text="${post.postContent}"> 게시글 내용</p>
            <div class="mb-2" th:each="image : ${imageList.imageDtoList}">
                <img class="img-fluid" th:src="|/post/${imageList.postId}/image/${image.getServerName()}|">
            </div>
        </div>

        <div class="row py-4">
            <a class="col col-auto fw-bolder" th:text="|${post.username}| " th:href="@{|/member/${post.memberId}|}"></a>
            <p class="col col-auto" th:text="${#temporals.format(post.writingDate, 'yy-MM-dd HH:mm:ss')} ">
            <p class="col col-auto ms-auto" th:text="|조회수 : ${post.viewCount} |">조회수</p>
            <p class="col col-auto" th:text="|추천수 : ${post.recommendCount} |">추천수</p>
        </div>


    <!-- TODO 삭제 -->
    <!--    <div>-->
    <!--        <label for="username">회원 이름</label>-->
    <!--        <input type="text" id="username" class="form-control" value="홍길동" th:field="${member.username}" readonly>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--        <label for="nickname">회원 별칭</label>-->
    <!--        <input type="text" id="nickname" class="form-control" value="암행어사" th:field="${member.nickname}" readonly>-->
    <!--    </div>-->

        <!-- single checkbox -->
    <!--    <div>판매 여부</div>-->
    <!--    <div>-->
    <!--        <div class="form-check">-->
    <!--            <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled>-->
    <!--            <label for="open" class="form-check-label">판매 오픈</label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; multi checkbox &ndash;&gt;-->
    <!--    <div>-->
    <!--        <div>등록 지역</div>-->
    <!--        <div th:each="region : ${regions}" class="form-check form-check-inline">-->
    <!--            <input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input" disabled>-->
    <!--            <label th:for="${#ids.prev('regions')}"-->
    <!--                   th:text="${region.value}" class="form-check-label">서울</label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; radio button &ndash;&gt;-->
    <!--    <div>-->
    <!--        <div>상품 종류</div>-->
    <!--        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">-->
    <!--            <input type="radio" th:field="${item.itemType}" th:value="${type.name()}" class="form-check-input" disabled>-->
    <!--            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">-->
    <!--                BOOK-->
    <!--            </label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; SELECT &ndash;&gt;-->
    <!--    <div>-->
    <!--        <div>배송 방식</div>-->
    <!--        <select th:field="${item.deliveryCode}" class="form-select" disabled>-->
    <!--            <option value="">==배송 방식 선택==</option>-->
    <!--            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"-->
    <!--                    th:text="${deliveryCode.displayName}">FAST</option>-->
    <!--        </select>-->
    <!--    </div>-->


        <div class="row">
            <div class="col">
                <button class="w-auto btn btn-warning float-start" onclick="location.href='postHome.html'"
                        th:onclick="|location.href='@{/postHome}'|" type="button">게시판</button>
            </div>
            <div class="col">
                <form th:action="@{|/post/${postId}/recommend|}" method="post">
                    <button class="w-auto btn btn-primary float-start" type="submit">추천</button>
                </form>
            </div>
            <div class="col" th:if="${postAuth.authMemberId != null and (postAuth?.authMemberId == session?.loginMember or postAuth?.ADMIN_MEMBER_ID == session?.loginMember)}">
                <button class="w-auto btn btn-success float-end "
                        th:onclick="|location.href='@{|/post/${postId}/edit|}'|" type="button">수정</button>
            </div>
            <div class="col" th:if="${postAuth.authMemberId != null and (postAuth?.authMemberId == session?.loginMember or postAuth?.ADMIN_MEMBER_ID == session?.loginMember)}">
                <form th:action="@{|/post/${postId}/delete|}" method="post">
                    <button class="w-auto btn btn-danger float-end" type="submit">삭제</button>
                </form>
            </div>

            <div th:object="${postEditStatus}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <br>
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">게시글 수정 오류 메시지</p>
                </div>
            </div>
        </div>

        <hr class="my-3">

        <div class="py-2 text-center">
            <div class="row">
                <p class="text-start col col-12 col-sm" th:text="|댓글 ${pageControl.totalCount} 개|"></p>
                <div class="col col-auto">
                    <form th:action method="get" class="row">
                        <div class="col-auto">
                            <label>
                                <select class="form-select form-select-sm" th:field="${pageDto.pageView}">
                                    <option th:each="view : ${#numbers.sequence(5, 25, 5)}" th:value="${view}" th:text="|${view}개|"></option>
                                </select>
                            </label>
                            <label>
                                <select name="sorting" class="form-select form-select-sm" th:field="${sortingDto.sorting}">
                                    <option th:value="DESC">최신순</option>
                                    <option th:value="ASC">과거순</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="hidden">
                            <button type="submit" class="btn-primary btn btn-sm">변경</button>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <table class="table table-hover text-center" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th class="col-3">작성자</th>
                            <th class="col-3">작성일</th>
                            <th class="col-5">댓글</th>
                            <th class="col-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comment : ${commentList}">
                            <td class="p-1">
                                <a href="" class="d-inline-block text-truncate text-nowrap w-100" th:href="@{|/member/${comment.memberId}|}" th:text="${comment.username}">작성자</a>
                            </td>
                            <td class="p-1">
                                <p th:text="${#temporals.format(comment.writingDate, 'MM-dd HH:mm')}">작성일</p> <!-- 'yy-MM-dd HH:mm' -->
                            </td>
                            <td class="p-1" th:if="${commentEditStatus?.flag == false or commentEditStatus?.commentId != comment.commentId}">
                                <p th:text="${comment.commentContent}">댓글 내용</p>
                            </td>
                            <td class="p-1">
                                <form th:action="@{|/post/${postId}/${comment.commentId}/edit|}" method="post" th:object="${commentEditDto}"
                                      th:if="${commentEditStatus.flag == true and commentEditStatus?.commentId == comment.commentId}">
                                    <input type="text" class="form-control col-auto w-auto" th:field="*{commentContent}">
                                    <div class="field-error" th:errors="*{commentContent}">댓글 수정 오류</div>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button class="w-auto col-auto btn btn-primary" type="submit">저장</button>
                                        <button class="w-auto col-auto btn btn-secondary" th:onclick="|location.href='@{|/post/${postId}|}'|" type="button">취소</button>
                                    </div>
                                </form>
                                <div class="btn-group" role="group">
                                    <form th:action="@{|/post/${postId}/${comment.commentId}|}" method="post"
                                          th:if="${(commentEditStatus.flag == false) and ((comment.memberId == commentAuth?.authMemberId or session?.loginMember == commentAuth.ADMIN_MEMBER_ID) and commentAuth.authMemberId != null)}">
                                        <button class="w-auto col-auto btn btn-success float-start btn-sm" type="submit">수정</button>
                                    </form>
                                    <form th:action="@{|/post/${postId}/${comment.commentId}/delete|}" method="post"
                                          th:if="${(commentEditStatus.flag == false) and ((comment.memberId == commentAuth?.authMemberId or session?.loginMember == commentAuth.ADMIN_MEMBER_ID) and commentAuth.authMemberId != null)}">
                                        <button class="w-auto col-auto btn btn-danger float-end btn-sm" type="submit">삭제</button>
                                    </form>
                                </div>
                                <div th:object="${commentEditDto}">
                                    <div th:if="${#fields.hasGlobalErrors() and commentEditStatus?.commentId == comment.commentId}">
                                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" th:if="${#lists.size(commentList) == 0}">작성된 댓글이 없습니다.</p>

                <div th:if="${pageControl.totalCount == 0}"></div>
            </div>

            <div th:if="${pageControl.totalCount > pageControl.pageDto.pageView}">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${pageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.firstPage}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&laquo;" aria-label="first">
                            </form>
                        </li>
                        <li class="page-item" th:if="${pageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.dpStartPage-1}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&lt;" aria-label="prev">
                            </form>
                        </li>
                        <li th:each="page : ${#numbers.sequence({pageControl.dpStartPage}, {pageControl.dpEndPage})}" class="page-item"
                            th:class="${pageControl.pageDto.page} == ${page} ? 'page-item active' : 'page-item'">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${page}">
                                <input type="submit" class="page-link" th:value="${page}" aria-label="page"
                                       th:class="${pageControl.pageDto.page} == ${page} ? 'page-link active' : 'page-link'">
                            </form>
                        </li>
                        <li class="page-item" th:if="${pageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.dpEndPage+1}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&gt;" aria-label="next">
                            </form>
                        </li>
                        <li class="page-item" th:if="${pageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" th:field="${pageDto.pageView}">
                                <input type="hidden" th:field="${sortingDto.sorting}">
                                <input type="hidden" name="page" th:value="${pageControl.lastPage}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&raquo;" aria-label="last">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>

            <div>
                <form th:action th:object="${commentAddDto}" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="commentWriter" class="form-control" placeholder="닉네임" th:field="*{commentWriter}" th:errorclass="field-error" readonly>
                            <div class="field-error" th:errors="*{commentWriter}">닉네임 작성 오류</div>
                        </div>
                        <div class="col">
                            <label for="commentContent">
                                <input type="text" id="commentContent" class="form-control" placeholder="댓글을 입력해주세요" th:field="*{commentContent}" th:errorclass="field-error">
                                <div class="field-error" th:errors="*{commentContent}">댓글 작성 오류</div>
                            </label>
                        </div>
                        <div class="col">
                            <button class="w-auto btn btn-primary" type="submit">작성</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- /container -->
</body>
</html>