<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout (title = |${memberDetail.username} 회원 페이지|)}">
<body>
    <div class="container" layout:fragment="content">

        <div>
            <div class="mb-3">
                <label for="memberId">회원 번호</label>
                <input type="text" id="memberId" class="form-control" value="1" th:field="${memberDetail.memberId}" disabled>
            </div>
            <div class="mb-3">
                <label for="signupDate">가입 일자</label>
                <input type="text" id="signupDate" name="signupDate" class="form-control" value="23-05-31 12:42:15"
                       th:value="${#temporals.format(memberDetail.signupDate, 'yy-MM-dd HH:mm:ss')}" disabled>
            </div>
            <div class="mb-3">
                <label for="loginId">로그인 ID</label>
                <input type="text" id="loginId" class="form-control" value="abcd1234" th:field="${memberDetail.loginId}" disabled>
            </div>
            <div class="mb-3">
                <label for="password">비밀번호</label>
                <input type="text" id="password" class="form-control" th:field="${memberDetail.password}" disabled>
            </div>
            <div class="mb-3">
                <label for="username">닉네임</label>
                <input type="text" id="username" class="form-control" value="홍길동" th:field="${memberDetail.username}" disabled>
            </div>
        </div>

        <!-- single checkbox --> <!-- TODO 삭제 -->
    <!--    <div>판매 여부</div>-->
    <!--    <div>-->
    <!--        <div class="form-check">-->
    <!--            <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled>-->
    <!--            <label for="open" class="form-check-label">판매 오픈</label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; multi checkbox &ndash;&gt;-->
    <!--    <div>-->
    <!--        <div>등록 지역</div>-->
    <!--        <div th:each="region : ${regions}" class="form-check form-check-inline">-->
    <!--            <input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input" disabled>-->
    <!--            <label th:for="${#ids.prev('regions')}"-->
    <!--                   th:text="${region.value}" class="form-check-label">서울</label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; radio button &ndash;&gt;-->
    <!--    <div>-->
    <!--        <div>상품 종류</div>-->
    <!--        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">-->
    <!--            <input type="radio" th:field="${item.itemType}" th:value="${type.name()}" class="form-check-input" disabled>-->
    <!--            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">-->
    <!--                BOOK-->
    <!--            </label>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; SELECT &ndash;&gt;-->
    <!--    <div>-->
    <!--        <div>배송 방식</div>-->
    <!--        <select th:field="${item.deliveryCode}" class="form-select" disabled>-->
    <!--            <option value="">==배송 방식 선택==</option>-->
    <!--            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"-->
    <!--                    th:text="${deliveryCode.displayName}">FAST</option>-->
    <!--        </select>-->
    <!--    </div>-->
        <hr class="my-3">

        <div class="row">
            <div class="col">
                <button class="w-auto btn btn-warning float-start"
                        th:onclick="|location.href='@{/memberHome}'|" type="button">회원 목록</button>
            </div>
            <div class="col" th:if="${status?.authority == true}">
                <button class="w-auto btn btn-success" onclick="location.href='editForm.html'"
                        th:onclick="|location.href='@{|/member/${memberDetail.memberId}/edit|}'|" type="button">회원 수정</button>
            </div>
            <div class="col">
                <button class="w-auto btn btn-warning float-end" onclick="location.href='postHome.html'"
                        th:onclick="|location.href='@{/postHome}'|" type="button">게시판</button>
            </div>
        </div>

        <div>
            <form th:object="${status}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                </div>
            </form>
        </div>

        <hr class="my-3">

        <div class="py-3 text-center">
            <p th:text="|작성 게시글 목록 (${postPageControl.totalCount} 개)|">작성 게시글 목록</p>
            <table class="table table-hover text-center" style="table-layout: fixed">
                <thead>
                <tr>
                    <th class="col-3">제목</th>
                    <th class="col-3">내용</th>
                    <th class="col-3">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postList}">
                    <td class="p-1">
                        <a class="d-inline-block text-truncate text-nowrap w-100" href="" th:href="@{|/post/${post.postId}|}" th:text="${post.postTitle}">제목</a>
                    </td>
                    <td class="p-1">
                        <p class="d-inline-block text-truncate text-nowrap w-100" th:text="${post.postContent}">내용</p>
                    </td>
                    <td class="p-1">
                        <p class="d-inline-block text-truncate text-nowrap w-100" th:text="${#temporals.format(post.writingDate, 'yy-MM-dd HH:mm')}">작성일</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="text-center" th:if="${#lists.size(postList) == 0}">작성한 글이 없습니다.</p>

            <div th:if="${postPageControl?.totalCount != 0}">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${postPageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" name="pPage" th:value="${postPageControl.firstPage}">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&laquo;" aria-label="first">
                            </form>
                        </li>
                        <li class="page-item" th:if="${postPageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" name="pPage" th:value="${postPageControl.dpStartPage-1}">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&lt;" aria-label="prev">
                            </form>
                        </li>
                        <li th:each="page : ${#numbers.sequence({postPageControl.dpStartPage}, {postPageControl.dpEndPage})}" class="page-item"
                            th:class="${postPageControl.pageDto.page} == ${page} ? 'page-item active' : 'page-item'">
                            <form th:action method="get">
                                <input type="hidden" name="pPage" th:value="${page}">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.pageDto.page}">
                                <input type="submit" class="page-link" th:value="${page}" aria-label="page"
                                       th:class="${postPageControl.pageDto.page} == ${page} ? 'page-link active' : 'page-link'">
                            </form>
                        </li>
                        <li class="page-item" th:if="${postPageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" name="pPage" th:value="${postPageControl.dpEndPage+1}">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&gt;" aria-label="next">
                            </form>
                        </li>
                        <li class="page-item" th:if="${postPageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" name="pPage" th:value="${postPageControl.lastPage}">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&raquo;" aria-label="last">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <hr class="my-3">

        <div class="py-3 text-center">
            <p th:text="|작성 댓글 목록 (${commentPageControl.totalCount } 개)|">작성 댓글 목록</p>
            <table class="table table-hover text-center" style="table-layout: fixed">
                <thead>
                <tr>
                    <th class="col-6">내용</th>
                    <th class="col-3">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment : ${commentList}">
                    <td class="p-1"><a class="d-inline-block text-truncate text-nowrap w-100" href="" th:href="@{|/post/${comment.postId}|}" th:text="${comment.commentContent}">내용</a></td>
                    <td class="p-1"><p class="d-inline-block text-truncate text-nowrap w-100" th:text="${#temporals.format(comment.writingDate, 'yy-MM-dd HH:mm')}">작성일</p></td>
                </tr>
                </tbody>
            </table>
            <p class="text-center" th:if="${#lists.size(commentList) == 0}">작성한 댓글이 없습니다.</p>

            <div th:if="${commentPageControl?.totalCount != 0}">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${commentPageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.firstPage}">
                                <input type="hidden" name="pPage" th:value="${postPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&laquo;" aria-label="first">
                            </form>
                        </li>
                        <li class="page-item" th:if="${commentPageControl.prev}">
                            <form th:action method="get">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.dpStartPage-1}">
                                <input type="hidden" name="pPage" th:value="${postPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&lt;" aria-label="prev">
                            </form>
                        </li>
                        <li th:each="page : ${#numbers.sequence({commentPageControl.dpStartPage}, {commentPageControl.dpEndPage})}" class="page-item"
                            th:class="${commentPageControl.pageDto.page} == ${page} ? 'page-item active' : 'page-item'">
                            <form th:action method="get">
                                <input type="hidden" name="cPage" th:value="${page}">
                                <input type="hidden" name="pPage" th:value="${postPageControl.pageDto.page}">
                                <input type="submit" class="page-link" th:value="${page}" aria-label="page"
                                       th:class="${commentPageControl.pageDto.page} == ${page} ? 'page-link active' : 'page-link'">
                            </form>
                        </li>
                        <li class="page-item" th:if="${commentPageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.dpEndPage+1}">
                                <input type="hidden" name="pPage" th:value="${postPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&gt;" aria-label="next">
                            </form>
                        </li>
                        <li class="page-item" th:if="${commentPageControl.next}">
                            <form th:action method="get">
                                <input type="hidden" name="cPage" th:value="${commentPageControl.lastPage}">
                                <input type="hidden" name="pPage" th:value="${postPageControl.pageDto.page}">
                                <input type="submit" class="page-link" aria-hidden="true" value="&raquo;" aria-label="last">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div> <!-- /container -->
</body>
</html>