<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="syh.toyProject.repository.mybatis.CommentMapper">

    <sql id="sorting">
        <choose>
            <when test="sortingDto != null and sortingDto.sorting == 'DESC'">
                ORDER BY
                    C.WRITING_DATE DESC
            </when>
            <otherwise>
                ORDER BY
                    C.WRITING_DATE ASC
            </otherwise>
        </choose>
    </sql>

    <sql id="paging">
        <if test="pageDto != null">
            LIMIT #{pageDto.pageCount}, #{pageDto.pageView}
        </if>
    </sql>


    <insert id="addComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO
            COMMENT (POST_ID, MEMBER_ID, WRITING_DATE, LAST_EDIT_DATE, COMMENT_CONTENT)
        VALUES
            (#{postId}, #{memberId}, now(), now(), #{commentContent})
    </insert>

    <update id="editComment">
        UPDATE
            COMMENT C
        SET
            C.COMMENT_CONTENT = #{commentEditDto.commentContent}, last_edit_date = now() + 0.00001
        WHERE
            C.COMMENT_ID = #{commentId}
    </update>

    <select id="totalCount" resultType="int">
        SELECT
            COUNT(C.*)
        FROM
            COMMENT C
        WHERE
            C.POST_ID = #{postId}
    </select>
    
    <select id="totalCountByMemberId" resultType="int">
        SELECT
            COUNT(C.*)
        FROM
            COMMENT C
        WHERE
            C.MEMBER_ID = #{memberId}
    </select>

    <select id="findAll" resultType="Comment">
        SELECT
            C.COMMENT_ID
            , C.POST_ID
            , C.MEMBER_ID
            , C.WRITING_DATE
            , C.LAST_EDIT_DATE
            , C.COMMENT_CONTENT
        FROM
            COMMENT C
    </select>

    <select id="findByPostIdAll" resultType="Comment">
        SELECT
            C.COMMENT_ID
            , C.POST_ID
            , C.MEMBER_ID
            , C.WRITING_DATE
            , C.LAST_EDIT_DATE
            , C.COMMENT_CONTENT
        FROM
            COMMENT C
        WHERE
            C.POST_ID = #{postId}
        <include refid="sorting"/>
        <include refid="paging"/>
    </select>

    <select id="findByMemberIdAll" resultType="Comment">
        SELECT
            C.COMMENT_ID
            , C.POST_ID
            , C.MEMBER_ID
            , C.WRITING_DATE
            , C.LAST_EDIT_DATE
            , C.COMMENT_CONTENT
        FROM
            COMMENT C
        WHERE
            C.MEMBER_ID = #{memberId}
        ORDER BY
            C.WRITING_DATE DESC
        <include refid="paging"/>
    </select>

    <select id="findByCommentId" resultType="Comment">
        SELECT
            C.COMMENT_ID
            , C.POST_ID
            , C.MEMBER_ID
            , C.WRITING_DATE
            , C.LAST_EDIT_DATE
            , C.COMMENT_CONTENT
        FROM
            COMMENT C
        WHERE
            C.COMMENT_ID = #{commentId}
    </select>

    <delete id="deleteComment">
        DELETE FROM
            COMMENT C
        WHERE
            C.COMMENT_ID = #{commentId}
    </delete>

    <delete id="deleteAllCommentByPostId">
        DELETE FROM
            COMMENT C
        WHERE
            C.POST_ID = #{postId}
    </delete>

</mapper>
