<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="syh.toyProject.repository.mybatis.ImageMapper">

    <insert id="uploadImage" useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO
            IMAGE (POST_ID, ORIGIN_NAME, SERVER_NAME, FILE_SIZE, UPLOAD_DATE)
        VALUES
            (#{image.postId}, #{image.originName}, #{image.serverName}, #{image.fileSize}, now())
    </insert>

    <select id="findByPostId" resultType="image">
        SELECT
            I.IMAGE_ID
            , I.POST_ID
            , I.ORIGIN_NAME
            , I.SERVER_NAME
            , I.FILE_SIZE
            , I.UPLOAD_DATE
        FROM
            IMAGE I
        WHERE
            I.POST_ID = #{postId}
    </select>

    <update id="editImage">
        UPDATE
            IMAGE I
        SET
            I.ORIGIN_NAME = #{image.originName}
            , I.SERVER_NAME = #{image.serverName}
            , I.FILE_SIZE = #{image.file_size}, upload_date = now()
        WHERE
            I.IMAGE_ID = #{image.imageId}
    </update>

    <delete id="deleteImage">
        DELETE FROM
            IMAGE I
        WHERE
            I.POST_ID = #{image.postId}
        AND
            I.IMAGE_ID = #{image.imageId}
    </delete>

    <delete id="deleteImageAll">
        DELETE FROM
            IMAGE I
        WHERE
            I.POST_ID = #{postId}
    </delete>

</mapper>
