<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="syh.toyproject.repository.mybatis.MemberMapper">

    <sql id="searchCond">
        <where>
            <if test="searchUsername != null and !searchUsername.equals('')">
                AND username LIKE CONCAT('%', #{searchUsername}, '%')
            </if>
        </where>
    </sql>

    <sql id="sorting">
        <choose>
            <when test="sortingDto != null and sortingDto.sorting == 'DESC'">
                ORDER BY signup_date DESC
            </when>
            <otherwise>
                ORDER BY signup_date ASC
            </otherwise>
        </choose>
    </sql>

    <sql id="paging">
        <if test="pageDto != null">
            LIMIT #{pageDto.pageCount}, #{pageDto.pageView}
        </if>
    </sql>


    <insert id="addMember" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (signup_date, login_id, password, username)
        VALUES (now(), #{loginId}, #{password}, #{username})
    </insert>

    <update id="editMember">
        UPDATE member
        SET username = #{memberEditDto.username},
            password = #{memberEditDto.password}
        WHERE member_id = #{memberId}
    </update>

    <select id="totalCount" resultType="int">
        SELECT COUNT(*)
        FROM member
        <include refid="searchCond"/>
    </select>

    <select id="findAll" resultType="Member">
        SELECT signup_date, username, member_id, login_id, password
        FROM member
        <include refid="searchCond"/>
        <include refid="sorting"/>
        <include refid="paging"/>
    </select>

    <select id="findByMemberId" resultType="Member">
        SELECT signup_date, username, member_id, login_id, password
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <select id="findByLoginId" resultType="Member">
        SELECT signup_date, username, member_id, login_id, password
        FROM member
        WHERE login_id = #{loginId}
    </select>

</mapper>
